@value: grey-50: #d2d2d2;
@value: grey-100: #c3c3c3;
@value: grey-200: #aeaeae;
@value: grey-300: #949494;
@value: grey-400: #707070;
@value: grey-450: #555555;
@value: grey-500: #404040;
@value: grey-600: #363636;
@value: grey-700: #2e2e2e;
@value: grey-800: #272727;
@value: grey-900: #212121;
@value: green: #6da468;
@value: yellow: #daba5a;
@value: red: #c3605a;
@value: blue: #5a84c3;
@value: some-grey: #f2f2f2;