@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}

@layer utilities {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    /* .toolbar-styles {
        @apply hidden;
    } */
    /* .editor-styles {
        @apply bg-blue-500;
    }
    .wrapper-styles {
        @apply bg-gray-500;
    } */
    img {
        height: 15px;
        width: 15px;
    }
}